<h2>Comments:</h2>

<ul>
  <% @comments.each do |comment| %>
    <p>
      <strong>Comment:</strong>
      <%= link_to comment.body, comment %>
    </p>
    <p>
      <strong>Post:</strong>
      <%= link_to Post.find(comment.post_id).title, post_path(Post.find(comment.post_id)) %>
    </p>
    <p>
      <strong>By:</strong>
      <%= link_to User.find(comment.user_id).name, user_path(User.find(comment.user_id)) %>
    </p>
    <p> ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ </p>
  <% end %>
</ul>
